[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
nltk = "*"
numpy = "*"
pandas = "*"
plotly = "*"
python-dotenv = "*"
requests = "*"
selenium = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
